/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.team-member::after {
    content: "";
    display: table;
    clear: both;
}

/* header */

h1 {
    font-size: 35px;
    color: rgb(243, 52, 148);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* content rules  */

#team-description {
    text-align: center;
}

.row {
    margin: 40px;
}
.slot {
    float: left;
    width: calc(100% / 3);
    padding: 0 20px;
}

.team-member {
    background-color: rgb(4, 4, 46);
    color: #fff;
}

.img-member {
    float: left;
    padding-right: 20px;
}

.name-member {
    font-size: 30px;
    font-weight: 700;
}

.email-member {
    color: rgb(80, 177, 241);
}

.name-member,.role-member,.email-member {
    padding-top: 10px;
    display: block;
}





